<div class="container">
  <br/>	
  <div class="card">
    <div class="card-header text-white bg-secondary">
      <h5 class="card-title">Déclarer un problème</h5>
    </div>
    <div class="card-body text-black bg-white">
      <h5 class="card-title">Special title treatment</h5>
      <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
    </div>
    <div class="card-footer text-white bg-white">
      <button type="button" class="btn btn-primary btn-lg"><fa name="save"></fa>   Sauvegarder</button>
    </div>
  </div>
</div>

