<br />
<div class="container">
  <div class="card">
    <div class="card-header text-white bg-secondary">
      <h5 class="card-title">Déclarer un problème</h5>
    </div>
    <div class="card-body text-black bg-white">
      <h5 class="card-title">Veuillez renseigner les zones suivante et soumettre votre demande</h5>
      <div class="card-text">
        <form class="form-horizontal" novalidate (ngSubmit)="save()" [formGroup]="problemeForm">
          <div class="form-group row">
            <label for="prenomId" class="col-md-2 col-form-label text-right">Prénom:</label>
            <div class="col-sm-10">
              <input class="form-control" id="prenomId" type="text" placeholder="Votre prénom ici (obligatoire)"
                formControlName="prenom" [ngClass]="{'is-valid': (problemeForm.get('prenom').touched ||
            problemeForm.get('prenom').dirty) &&
            (problemeForm.get('prenom').valid),
            'is-invalid': (problemeForm.get('prenom').touched ||
            problemeForm.get('prenom').dirty) &&
            (!problemeForm.get('prenom').valid )}" />
              <span *ngIf="(problemeForm.get('prenom').touched ||
            problemeForm.get('prenom').dirty) &&
            problemeForm.get('prenom').errors">
                <span *ngIf="problemeForm.get('prenom').errors.required">
                  <small class="text-muted">
                    Merci de saisir votre prénom.
                  </small>
                </span>
                <span *ngIf="problemeForm.get('prenom').errors.nbreCaracteresInsuffisants">
                  <small class="text-muted">
                    Veuillez entrer plus de caractères.
                  </small>
                </span>

              </span>
            </div>

          </div>

          <div class="form-group row">
            <label for="NomId" class="col-md-2 col-form-label text-right">Nom:</label>
            <div class="col-sm-10">
              <input class="form-control" id="NomId" type="text" placeholder="Votre Nom ici (obligatoire)"
                formControlName="nom" [ngClass]="{'is-valid': (problemeForm.get('nom').touched ||
            problemeForm.get('nom').dirty) &&
            (problemeForm.get('nom').valid),
            'is-invalid': (problemeForm.get('nom').touched ||
            problemeForm.get('nom').dirty) &&
            (!problemeForm.get('nom').valid )}" />
              <span *ngIf="(problemeForm.get('nom').touched ||
            problemeForm.get('nom').dirty) &&
            problemeForm.get('nom').errors">
                <span *ngIf="problemeForm.get('nom').errors.required">
                  <small class="text-muted">
                    Merci de saisir votre nom de famille.
                  </small>
                </span>
                <span *ngIf="problemeForm.get('nom').errors.nbreCaracteresTrop">
                  <small class="text-muted">
                    Veuillez entrer moins de caractères.
                  </small>
                </span>

              </span>
            </div>

          </div>
          <div class="form-group row">
            <label for="typesProblemeId" class="col-md-2 col-form-label text-right">Type :</label>
            <div class="col-sm-10">
              <select class="form-control" 
              id="typesProblemeId"
              formControlName="type" [ngClass]="{'is-valid': (problemeForm.get('type').touched ||
              problemeForm.get('type').dirty) &&
              (problemeForm.get('type').valid),
              'is-invalid': (problemeForm.get('type').touched ||
              problemeForm.get('type').dirty) &&
              (!problemeForm.get('type').valid )}" >
                <option value="">Sélectionner un type de problème</option>
                <option *ngFor="let cat of typesProbleme" [value]=cat.id>{{cat.descriptionTypeProbleme}}</option>
            </select>
            <span *ngIf="(problemeForm.get('type').touched ||
            problemeForm.get('type').dirty) &&
            problemeForm.get('type').errors">
                <span *ngIf="problemeForm.get('type').errors.selectionnerValeur">
                  <small class="text-muted">
                    Merci de sélectionner un type de probleme.
                  </small>
                </span>

              </span>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>